.container{
    height: 90vh;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-end;
}

.btn{
    font-size: 14px;
    padding: 9px 18px;
    border: 1px solid white;
    cursor: pointer;
}

#btn1{
    background-color: blue;
    color: white;
}
#btn2{
    background-color: yellow;
    color: black;
}
#btn3{
    background-color: brown;
    color: white;
}

#btn4{
    background-color: palevioletred;
    color: white;
}

#btn5{
    background-color: green;
    color: white;
}